.logo{
    font-family: Poppins;
    font-size: 1.76rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--site-blue);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    list-style-type: none;
    display: flex;
    gap: 3.78rem;
    font-family: Poppins;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--site-grey);
    margin: 0rem;
    padding-left: 0rem;

    .active{
        color: var(--site-blue);
    }
}

.nav-auth-buttons{
    .btn{
        font-family: Poppins;
        font-size: 1.1rem;
        font-weight: 500;
        line-height: 1.1rem;
        letter-spacing: 0em;
        text-align: center;
        color: var(--site-blue);
    }

    .btn.active{
        background-color: var(--site-blue);
        color: #fff;
        padding: 1rem 1.5rem;
        border-radius: 1rem;
    }

}

.tablet-screen{
    display: none !important;
}

@media (max-width: 768px){
    .big-screen{
        display: none !important;
    }

    .tablet-screen{
        display: flex !important;
    }

    nav{
        .logo{
            color: var(--site-blue);
        }

        .nav-links{
            gap: 0.5rem;
        }

        .nav-links a{
            color: var(--site-grey);
        }

        .navbar-collapse{
            position: absolute;
            z-index: 1000;
            width: 100%;
            top: 35px;
        }

        .navbar-nav{
            padding-left: 20px;
            background-color: #fff;
            border-top: none;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }

        .navbar-nav .nav-link.active{
            color: var(--site-blue);
        }

        li.nav-item{
            border-bottom: 1px solid #eee;
        }

        .btn.active{
            color: var(--site-blue);
            background-color: #fff;
            border: none;
            margin-bottom: 0.5rem;
        }

        .toggler-container{
            background-color: var(--site-blue);
            width: 2.5rem;
            height: 2.5rem;
            border: none;
            border-radius: 6px;
            position: relative;
        }

        .toggler-container button{
            position: absolute;
            z-index: 2;
            background: none;
            height: 100%;
            width: 100%;
            border: none;
        }

        .toggler-container img{
            position: absolute;
            z-index: 1;
            height: 2rem;
            width: 2rem;
            top: 0.25rem;
            left: 0.25rem;
        }
    }

}