.connect{
    // margin-top: 12.6rem;
    margin-bottom: 12.6rem;
    height: 44.1rem;
    position: relative;

    .col-3{
        position: relative;
    }

    .col-3:nth-child(2){
        width: auto;
    }

    .col-3 h4{
        font-family: Poppins;
        font-size: 2.83rem;
        font-weight: 600;
        line-height: 2.84rem;
        letter-spacing: 0em;
        text-align: left;
    }

    .col-3 p{
        color: #6C6C6C;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 2.1rem;
        letter-spacing: 0.015em;
    }

    .col-3 button{
        width: 11.97rem;
        height: auto;
        padding: 1.57rem;
        background: none;
        border: 1.6px solid #6C6C6C;
        border-radius: 25px;
    }

    .col-3 img:nth-child(1){
        position:absolute;
        height: 100%;
        z-index: 2;
    }

    .col-3 img:nth-child(2){
        position: relative;
        height: 100%;
        z-index: 1;
        right: -0.8rem;
        top: 0rem;
    }

    .col-3 .white-card{
        background-color: #fff;
        width: 20.19rem;
        padding-top: 4.4%;
        padding-bottom: 4.4%;
        z-index: 3;
        border: 1px solid #F1F1F1;
        box-shadow: -60px 60px 80px rgba(0, 0, 0, 0.03);
        border-radius: 14.045px;
        bottom: 14.5rem;
        margin-left: -5rem;
        position: relative;
    }

    .white-card{

        .icon-container{
            margin: 0rem;
        }

        .icon-container img{
            position: relative;
        }

        .pay-type{
            margin-left: 1.638rem;
            font-family: Poppins;
            font-size: 0.819rem;
            font-weight: 600;
            line-height: 1.2rem;
            letter-spacing: 0.01em;
            text-align: left;
        }

        .pay-type strong{
            text-align: start;
        }

        span{
            font-family: Poppins;
            font-size: 0.7rem;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            color: #989898;
        }

        .debit-amount{
            font-family: Poppins;
            font-size: 0.7rem;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: -0.03em;
            text-align: right;
            color: #FF3D12;
            position: relative;
            right: -4rem;
        }
    }
}

@media screen and (max-width: 992px) {

    section.connect{
        height: 44rem;
    }

    .connect .col-3:nth-child(1){
        width: 20.53rem;
    }

    .connect .white-card{
        top: -14.5rem;
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px !important;

        .icon-container{
            margin: 0rem;
            height: 2rem;
            right: 16%;
            position: relative;
        }

        .pay-type{
            padding: 0rem;
            margin-top: 1rem;
            margin-left: -3rem;
            width: 40%;
        }

        .debit-amount{
            right: -3rem;
        }
    }
}

@media screen and (max-width: 768px) {
 
}

@media screen and (max-width: 567px) {
    .connect{
        flex-direction: column-reverse;
        top: 30rem;

        .col-3{
            width: 75%;
            align-self: center;
            height: 44rem;
        }

        .col-3 > * {
            text-align: center !important;
        }

        .col-3 h4{
            margin-top: 10.095rem;
            margin-bottom: 2rem;
        }

        .col-3 p{
            margin-bottom: 4.095rem;
        }

        .col-3 button{
            align-self: center;
        }

        .col-3 > img{
            height: 100%
        }

        .col-3:nth-child(1){
            bottom: 10rem;
        }

        .col-3:nth-child(2) {
            margin-top: 4.1rem;
        }

        .white-card{
            padding: 0rem !important;
            top: -14.4rem;
        }

        .get-started-btn{
            width: 80% !important;
            font-size: 1.5rem;
        }
    }
}